
body{
  background-attachment: fixed;
 background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background2.jpg");
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.profile{
  grid-column: span 3 / auto;
}
.section1{ 
  background-color: blue; 
  opacity:0.8;
  color: white;
  }
.section2{  
    background-color:black; 
    opacity:0.8;
    color: white;
  }
  .section3{  
    background-color:black;
    opacity:0.8;
    color: white;
  }
  .myinfo{
    margin-left: 20px;
  }
  .objectives{
    margin: 20px;
  }
 
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    grid-column: span 3 / auto;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
    
